body {
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}
h1{
  font-size: 4em;
}
.titleContainer {
  text-align: center;
  font-family: 'Caveat', cursive;
}

.buttonContainer {
  max-width: 600px;
  width: auto;
  margin: 0px auto;
  font-family: 'Baloo Da 2', cursive;
}

.linkButton {
  display: flex;

  height: 50px;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: #3d3b3c;
  background-color: #3d3b3c;
  justify-content: center;
  align-items: center; 
}

.linkButton a {
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  width: 100%;
}

.linkButton:hover {
  background-color: transparent;
  color: #3d3b3c;
  border-color: #3d3b3c;
}