body {
    font-family: 'Karla', 'karla', sans-serif;
  }
  body .buttonContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
  }
  body .buttonContainer .linkButton {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  body .buttonContainer .linkButton:hover {
    background-color: transparent;
    color: #3d3b3c;
    border-color: #3d3b3c;
  }
  