body {
  /* background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%); */
  background-image: url("backgroundImage01.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 4.5rem
}

.titleContainer {
  margin: 50px;
  text-align: center;
  font-family: 'Bungee', cursive;
}

.buttonContainer {
  max-width: 1080px;
  margin: 0 auto;
}

.buttonContainer button,
.buttonContainer button::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.buttonContainer button {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-weight: bold;
  margin: .5em auto;
  padding: .5em 3em;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  font-size: 3em;
}



.buttonContainer button::before,
.buttonContainer button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.buttonContainer button:hover {
  color: black;
}

/* BUTTON 3 */
.buttonContainer .btn::after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

.buttonContainer .btn:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.buttonContainer .linkButton {
  cursor: pointer;
  align-items: center;
  height: 50px;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: #3d3b3c;
  background-color: #3d3b3c;
}

.buttonContainer a {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}

.buttonContainer .linkButton:hover {
  background-color: transparent;
  color: #3d3b3c;
  border-color: #3d3b3c;
  transition: .4s cubic-bezier(0.39, 0.575, 0.565, 1);
}